<div class="contact-window" id="contact">
  <h1>Let's Get in Touch.</h1>
  <p>Discuss a project or just want to say Hi? My inbox is open for all.</p>
  <div class="contact-container">
    <form
      [formGroup]="contactForm"
      (ngSubmit)="sendEmail()"
      class="contact-wrapper-right"
    >
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Full Name"
      />
      <div *ngIf="name?.invalid && name?.touched" class="error">
        Name is required.
      </div>

      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Email ID"
      />
      <div *ngIf="email?.invalid && email?.touched" class="error">
        <span *ngIf="email?.errors?.['required']">Email is required.</span>
        <span *ngIf="email?.errors?.['email']">Enter a valid email.</span>
      </div>

      <textarea
        id="message"
        formControlName="message"
        rows="5"
        placeholder="Share your thoughts and insights here; your feedback means a lot."
      ></textarea>
      <div *ngIf="message?.invalid && message?.touched" class="error">
        Message is required.
      </div>

      <button class="btn" id="submitBtn" type="submit" [disabled]="loading">
        {{ loading ? "Sending..." : "Send Message" }}
      </button>
    </form>
  </div>
</div>
